/** Application header style*/

.app-header {
    background-color: #263238;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

/** Application Logo style*/

.app-logo {
    color: #fff;
    font-size: 18px;
    position: absolute;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

.header-right-area {
    margin-left: auto;
    align-items: center;
    display: flex;
}

/** Search header area styling*/
.searchBox-headerarea {
    display: flex;
    border-radius: 4px;
    width: 300px;
    background-color: #c0c0c0;
    align-items: center;
    height: 35px;
    margin-right: 15px;
}

/** Search box styling*/
.searchBox {
    margin: 2% 2% 2% 2%;
    text-decoration: none;
}

/**Profile Icon Styling*/
.profileIcon {
    height: 75px;
    width: 75px;
    border: 20px solid white;
}

/** Porfile Pic Styling*/
.profilePic {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-options {
    margin: 50px 0 0 0;
}

.profileMenu-item {
    font: bold;
}

/* Responsive style*/

@media(max-width:1000px) {
    .profileIcon {
        max-width: 70px;
    }
    .searchBox-headerarea {
        max-width: 310px;
        width: auto;
    }
}