.app-header {
    background-color: #263238;
    height: 70px;
    width: 100%;
    align-items: center;
    position: relative;
}
<<<<<<< HEAD
=======

>>>>>>> 282377cb38770abec5a5ec06c48813c62c52868a
.app-logo {
    color: #fff;
    font-size: 18px;
    position: absolute;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}